In [3]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [4]:
data=pd.read_csv('BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750



H0 == The male-female buyer rations are similar across regions
H1 == The male-female buyer rations are not similar across regions

In [6]:
obs=np.array([[50,142,131,70],[435,1523,1356,750]])

In [7]:
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [8]:
chi2_contingency(obs)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

As Pvalue>0.05 H0 is accepted ie The male-female buyer rations are similar across regions